# Blacklist all Obsidian config files
.obsidian/*

# Whitelist several configuration files that needs to be synced
!.obsidian/app.json
!.obsidian/command-palette.json
!.obsidian/hotkeys.json
!.obsidian/*plugins.json
